@font-face {
  font-family: 'HancomMalangMalang-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

.dateback {
  background-color: #91ddcf;
  height: 200px;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  font-family: 'HancomMalangMalang-Regular';
}

.titlecheck {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  font-family: 'HancomMalangMalang-Regular';
}

.apple {
  width: 3%;
  height: 3%;
  margin-left: 0.6%;
}

.meal {
  color: #da7297;
  font-size: 1.5rem;
  white-space: nowrap;
  margin-bottom: 40px !important;
  margin-top: 40px;
  margin-right: 50px !important;
}

.meallistback {
  background-color: #f7f9f2;
  width: 340px;
  height: 400px;
  font-family: 'HancomMalangMalang-Regular';
}

.meallist {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-left: 1%;
  margin-right: 1%;
  gap: 60px;
}

.meallistback h2.meal,
.meallistback .checkbox,
.meallistback .checklistbutton {
  margin-left: 60px;
}

.checkbox {
  font-size: 1.1rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.checkbox input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  margin-right: 18px;
  border: none;
  border-radius: 5px;
  transform: scale(1.4);
  background-color: #fddee9;
  cursor: pointer;
  vertical-align: middle;
}

.checkbox input[type='checkbox']:checked {
  background-color: #fac1d5;
  position: relative;
}

.checkbox label {
  vertical-align: middle;
  line-height: 20px;
}

.checkbox input[type='checkbox']:checked::after {
  content: '\2714';
  color: #ff8bb3;
  position: absolute;
  left: 5px;
}

.checklistbutton {
  margin-top: 15px;
  width: 120px;
  height: 45px;
  white-space: nowrap;
  background-color: #da7297;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 540;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-family: 'HancomMalangMalang-Regular';
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6%;
  margin-bottom: 3%;
}

.sugarmonimg4 {
  width: 70px;
  height: 70px;
  margin-right: 30px;
}

.text2 {
  font-size: 30px;
  font-weight: 500;
  font-family: 'HancomMalangMalang-Regular';
}

.sugarmonimg3 {
  width: 70px;
  height: 70px;
  margin-left: 30px;
}